<div class="context">
  <div class="cover">
    <div class="description">
      <div class="logo-wrapper">TOP-20</div>
      <p class="text">
        Looking for a movie to watch? Introducing the top 20 popular films
      </p>
    </div>
    <div class="swiper slider slider_main wrapper-modal">
      <div class="swiper-wrapper slider__wrapper swiper-slider">

      </div>
    </div>

    <div class="swiper slider slider_bg">
      <div class="swiper-wrapper slider__wrapper swiper-shadow">
       
      </div>
    </div>
  </div>
</div>


